.navbar {
  height: fit-content;
  width: 100%;
  padding: 10px 30px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--lightgreen-color);
}

.logo-box {
  width: 30%;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  height: 40px;
  width: 100%;
  min-height: 30px;
  min-width: 200px;
}

.input-field {
  display: flex;
}

.navbar-form::placeholder {
  color: lightgray;
}

.navbar-form {
  height: 40px;
  width: fit-content;
  padding: 0 5px 0 5px;
  background-color: white;
  border: 2px solid var(--lightgreen-color);
  border-radius: 10px;
  color: gray;
  font-size: 20px;
}

.navbar-form:focus {
  outline-style: none;
  box-shadow: none;
}

.navbar-button {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background-color: white;
  font-size: 20px;
  border: 2px solid var(--dark-color);
  border-radius: 10px;
  color: var(--dark-color);
  cursor: pointer;
  transition: 0.15s ease-in;
}

.navbar-button:hover {
  background-color: var(--lightblue-color);
  color: white;
}

.navbar-button:active {
  transition: 0.015s ease-in;
  transform: scale(0.9);
}

@media (max-width: 1000px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .logo-box {
    align-items: center;
  }
}
